@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  margin-top: 200px;
  width: 400px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #988;
  background-color: #d9d9d9;

  & h1 {
    font-family: inter;
    margin: 0 auto;
  }

  .input-section {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    & input {
      padding: 10px;
      width: 250px;
      height: 35px;
      border: none;
      border-radius:8px;
    }


    & button {
      font-family: inter;
      width: 120px;
      height: 35px;
      border: none;
      color: #ddd;
      border-radius: 8px;
      background: #6a8ff3;
    }
  }

  .user_data {
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;

    & h6 {
      font-size: 1rem;
      font-weight: 500;
      font-family: inter;
    }

    & span {
      cursor: pointer;
      color: rgb(245, 51, 51);
      font-size: 1.3rem;
      font-weight: 500;
      font-family: inter;
    }
  }
}

/* --------media-queries----------- */

@media screen and (max-width: 568px) {
  .container {
    width: auto;
    margin: 100px 20px;
  
  }
}
